<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
     initial-scale=1.0"
    />
    <title>Happy</title>

    <!--icone da aba-->
    <link rel="icon" href="/images/logo-icon.png" />

    <!--link para os estilos-->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />

    <!--link para colocar uma fonte no codigo, proveniente do google fontes-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" 
    rel="stylesheet">
  </head>
  <body>
    <!--as id e class abaixo estão sendo usadas mais para ter uma especifidade nos estilos-->
    <div id="page-landing">
      <div id="container">
        <header>
          <img
            class="animate-up"
            id="logo"
            src="/images/logo.svg"
            alt="Logomarca de Happy"
          />

          <div class="location">
            <strong>Fortaleza</strong>
            <p>Presidente Kennedy</p>
          </div>
        </header>

        <main>
          <h1>Leve felicidade para o mundo</h1>
          <section class="visit">
            <p class="animate-up">
              Visite orfanatos e mude o dia de muitas crianças
            </p>

            <!--title é um atributo que pode ser colocado em qualquer tag, 
            da um titulo para o conteudo quando tiver um mouse em repouso em cima-->
            <a href="/orphanages" title="Visite orfanatos" class="animate-up">
              <img src="/images/arrow.svg" alt="ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>

<!--
    HTML
    HyperText
        hipertexto
        links

    Markup
        marcacao <tags>

    Linguage
        linguagem
###
    <tag atributo="conteudo"/>
###
    quanto ao css:
    seletor{
        /*declaração*/
        propiedade: valor;
    }
    //declaracao é o conjunto propiedade + valor.
###
    é interessante colcar classes nas divs, mesmo que não necessario,
    para melhor leitura posterior.

-->
